
<div class="show-title">
  <h2>Title:</h2>
  <p><%= @book.title %></p>
</div>

<div class="show-body">
  <h2>body:</h2>
  <p><%= @book.body %></p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "back", books_path %>
